<link rel="icon" type="image/png" href="{{ site.favicon | relative_url }}">
<meta name="keywords" content="LaTeX template, 国家自然科学基金 LaTeX 模板">

<meta name="google-adsense-account" content="ca-pub-3120757781451274">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3120757781451274"
     crossorigin="anonymous"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.analytics.google }}');
</script>